{
  "trailingComma": "all",
  "tabWidth": 2,
  "printWidth": 95,
  "useTabs": false,
  "semi": false,
  "singleQuote": true,
  "jsxSingleQuote": true,
  "arrowParens": "avoid",
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderCaseInsensitive": true,
  "importOrderParserPlugins": ["classProperties", "jsx", "decorators-legacy", "typescript"],
}
